@import '../../assets/styles/breakpoints.scss';

.login {

    @include mediumDevices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10rem;
        border-radius: 14px;
        height: 1100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .backgroundImg {
            border-radius: 14px;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/HeaderImg/dope.jpg');

            img {
                width: 100%;
                height: 700px;
                position: relative;
            }

            .backgroundImgText {
                position: absolute;
                text-align: center;
                color: #fff;
                margin-top: 18rem;

                h1 {
                    margin-bottom: 2rem;
                    font-size: 49px;
                }

                p {
                    font-size: 27px;
                }
            }
        }

        .loginForm {
            border-radius: 14px;
            text-align: center;

            .signUp {
                margin-top: 4rem;

                h1 {
                    margin-bottom: 9rem;
                    font-size: 37px;
                }
            }

            .signIn {
                transform: translateY(-90px);
                font-size: 24px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .inputContainer {
                margin-bottom: 4rem;
                line-height: 2;

                h2 {
                    margin-right: 18rem;
                }

                input {
                    width: 450px;
                    height: 50px;
                    border-radius: 6px;
                    border: 2px solid black;
                }

                .skills {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 4rem;
                    gap: 4rem;

                    .branding {
                        width: 190px;
                        height: 39px;
                        background: #000;
                        color: #fff;
                        border-radius: 9px;
                        cursor: pointer;
                    }
                }
            }

            .create {
                display: flex;
                justify-content: center;
                text-align: center;

                .createAccount {
                    background: #000;
                    color: #fff;
                    width: 400px;
                    height: 70px;
                    border-radius: 14px;
                    cursor: pointer;

                    h3 {
                        margin-top: 1.5rem;
                    }
                }
            }

            .drive {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 3rem;
                height: 40px;

                .google {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    gap: 1rem;
                    border-radius: 5px;
                    width: 300px;
                    margin-top: 0.4rem;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    cursor: pointer;
                }
            }


        }
    }
}