@import '../../assets/styles/breakpoints.scss';

body {
    background: #fff;
    height: 100vh;
    width: 100%;
}


.title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

// blog grid css

.blogpage {

    //for large devices
    @include largeDevices {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 40px 50px;
         gap: 3rem;
        .content {
            .blogsImg {
                margin-bottom: 3rem;

                img {
                    width: 900px;
                    height: 400px;
                    object-fit: cover;
                }
            }

            .blogsText {
                height: 300px;
                text-align: center;
            }

            .blogSideGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0px 20px
            }

            .blogsImgGrid {
                padding: 0px 30px;

                img {
                    width: 500px;
                    height: 350px;
                }
            }
            .lastContent{
                text-align: center;
            }
        }

        .sideContent{
            .Box{
              display: flex;
              padding: 10px 10px;
              gap: 2rem;
                p{
                    border: 2px solid red;

                }
            }
        }

    }

}