@import '../../assets/styles/breakpoints.scss';

body {
    background: #fff;
    height: 100vh;
    width: 100%;
}


.title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

// blog grid css

.blogpage {

    //for large devices
    @include largeDevices {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 40px 50px;
        gap: 3rem;

        .content {
            .blogsImg {
                margin-bottom: 3rem;

                img {
                    width: 900px;
                    height: 400px;
                    object-fit: cover;
                }
            }

            .blogsText {
                height: 300px;
                text-align: center;
            }

            .blogSideGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0px 20px
            }

            .blogsImgGrid {
                padding: 0px 30px;

                img {
                    width: 500px;
                    height: 350px;
                }
            }

            .lastContent {
                text-align: center;
            }
        }

        .sideContent {
            .searchBoxCategories {
                text-align: center;
                margin-bottom: 4rem;

                input {
                    width: 200px;
                    height: 45px;
                    background: #fff;
                    border: 2px solid tomato;
                    margin-bottom: 3rem;

                    ::placeholder {
                        text-align: start;
                    }
                }

                ul {
                    list-style: none;
                    line-height: 3;

                    li {
                        font-size: 20px;
                        transition: 0.5s;

                        :hover {
                            color: tomato;
                            transition: 0.5s;
                        }

                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }

            }

            .achives{
                text-align: center;
                margin-bottom: 4rem;
                line-height: 2;
                .Box{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    padding: 10px 0px;
                    gap: 2rem;
                    h2{
                        margin-bottom:3rem;
                    }
                      p{
                          border: 3px solid rgb(211, 98, 98);
                          width: 100px;
                          height: 30px;
                          cursor: pointer;
                      }
                  }
            }

        }

    }

}

