@import './breakpoints.scss';

.categoriesProp {

    @include largeDevices {
        // padding: 0px 200px;

        h2 {
            font-weight: bolder;

            p {
                font-size: 22px;
            }
        }
    }

    @include mediumDevices {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        h2 {
            font-size: 30px;
            color: #1F1F26;
            font-weight: bolder;
        }

        p {
            font-size: 22px;
            color: #231A36;
            width: 200px;
            height: 30px;
        }
    }


    //for small devices
    @include smallDevices {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        h2 {
            font-size: 15px;
            color: #1F1F26;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            color: #231A36;
            width: 200px;
            height: 30px;
        }
    }
}