@import './breakpoints.scss';

.instagram {

    @include smallDevices {
        background: #fff;
        .instagramCategory {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
    }
}