@import './breakpoints.scss';






.logo {


    // for medium devices
    @include mediumDevices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background: #fff;

        img {
            width: 100%;
            height: 100px;
            border-radius: 2px;
            object-fit: cover;
        }
    }

    // for small devices
    @include smallDevices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background: #fff;

        img {
            width: 100%;
            height: 50px;
            border-radius: 2px;
        }
    }
}