@import './breakpoints.scss';

.navBar {

    //for large devices
    @include largeDevices{
        padding: 10px 120px;
        
       a{
        font-weight: bolder;
        font-size: 22px;
       } 
    }
    
    
        // for medium devices
        @include mediumDevices {
            .navBarWrapper{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 40px;
            }
            h1{
                   letter-spacing: 1px;
            }
            button{
                width: 140px;
                height: 45px;
                border-radius: 25px;
                background: #000;
                border: 2px solid tomato;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    background: #1F1F26;
                }
                p{
                    color: #fff;
                    font-size: 19px;
                    font-weight: 600;
                }
            }
            .nav{
                    ul{
                        display: flex;
                        justify-content: space-between; 
                        li{
                            list-style: none;
                        }
        
                        a{
                            text-decoration: none;
                            color: #000;
                            font-weight: bolder;
                            font-size: 22px;
                            &:hover{
                                color: #1F1F26;
                            }
                    }
                    }
                }
         
        }
    
    
        //for small devices
        @include smallDevices {
            background-color: #EFEFEF;
            height: 100px;
        }
        button{
            width: 140px;
            height: 45px;
            border-radius: 25px;
            background: #000;
            border: 2px solid tomato;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                background: #1F1F26;
            }
            p{
                color: #fff;
                font-size: 19px;
                font-weight: 600;
            }
        }
        .navBarWrapper{
            @include smallDevices {
                display: flex;
                justify-content: space-between;
            }
        }
        h1{
            @include smallDevices {
               letter-spacing: 1px;
            }
        
        }
        .nav{
            @include smallDevices {
                padding: 10px 30px;
                ul{
                    display: flex;
                    justify-content: space-between;
                     
                    li{
                        list-style: none;
                    }
    
                    a{
                        text-decoration: none;
                        color: #000;
                        font-weight: bold;
                        font-size: 22px;
                        &:hover{
                            color: #1F1F26;
                        }
                    }
                }
            }
        }
    
        
    
    }