@import './breakpoints.scss';


.popular {


    @include largeDevices {
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.5rem;
            padding: 10px;
            height: 400px;
            .detail{
                margin-top: 3rem;
                text-align: center;
                font-size: 19px;
            }
        }

    }

    @include mediumDevices {
        background: #fff;

        .popularCategory {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }


        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.5rem;
            padding: 10px;
            p{
                font-size: 22px;
            }
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }


    //for small devices
    @include smallDevices {
        background: #fff;

        .popularCategory {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }

        .imgContainer {
            display: flex;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0.5rem;
            padding: 10px;
        }

        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }

}