@import './breakpoints.scss';

.shop {

  //for large devices
  @include largeDevices {

  
    .shopContent {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 0px 230px;
      height: 300px;
      margin-top: 3rem;
      .shopContentImg {
        // border: 2px solid red;
        // width: 400px;
        // height: 300px;
        margin-left: 4rem;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
  
      .shopContentTwo {
        display: grid;
        padding: 10px;
        gap: 1rem;
        height: 90px;
      }
    }
  

  }

  // for medium devices
  @include mediumDevices {
    background: #fff;

    .shopCategory {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    .shopContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 3rem;
      margin-top: 3rem;
      .shopContentImg {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .shopContentTwo {
        display: grid;
        padding: 10px;
        gap: 1rem;
        height: 90px;
        margin-top: -0.5rem;
      }
    }
  }



  //for small devices
  @include smallDevices {
    background: #fff;

    .shopCategory {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    .shopContent {

      .shopContentImg {
        padding: 0px 100px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .shopContentTwo {
        display: flex;
        padding: 10px;
        gap: 1rem;
      }
    }
  }
}